[Desktop Entry]
Encoding=UTF-8
Name=Ease presentation editor
Comment=Create nice and elegant presentations
Exec=ease
Type=Application
Categories=Office;
